<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        {% comment %} 
        <h2><p><p>{{ site.name | default: site.github.owner_name }}</p></p></h2>
        <p>{{ site.description | default: site.github.project_tagline }}</p> 
        {% endcomment %}

         {% comment %} {% if site.show_menu %}
        <p><div id='cssmenu'>
        <ul>
          <li><a href="{{ site.baseurl }} "> Inicio </a></li>
          <li class='active has-sub'><a href='#'>Portfolio</a>
            <ul>
              <li class='has-sub'><a href='#'>Mi proyecto de finanzas</a>
                <ul>
                  <li><a href='{{ site.baseurl }}/portfolio.html'>Descripción</a></li>
                  <li><a href='#'>Acceso GitHub</a></li>
                </ul>
              </li>
              <li><a href='{{ site.baseurl }}/tfm.html'>Trabajo Fin de Master</a>
                </li>
            </ul>
         </li>
          <li><a href="{{ site.baseurl }}/md-guide.html "> Markdown guide </a></li>
          <li><a href="{{ site.baseurl }}/another-page.html "> Another page </a></li>
        </ul>
        </div>
        </p>
        {% endif %} {% endcomment %}
        

    <div class="nav">
      <ul>
        <li class="home"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="tutorials"><a class="active" href="{{ site.baseurl }}/portfolio.html">Portfolio</a></li>
        <li class="about"><a href="#">About</a></li>
        <li class="news"><a href="#">Newsletter</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </div>

      </header>
      <section>

      {{ content }}
      
      </section>
      <footer>
          

        <h2>Contacto</h2>
          <div class="socialbtns">
            <ul>
            {% comment %} <li><a href="#" class="fa fa-lg fa-facebook"></a></li> {% endcomment %}
            <li><a href="https://twitter.com/PABL0REINA" class="fa fa-lg fa-twitter"></a></li>
            {% comment %} <li><a href="#" class="fa fa-lg fa-google-plus"></a></li> {% endcomment %}
            <li><a href="https://github.com/pablers/" class="fa fa-lg fa-github"></a></li>
            <li><a href="https://www.pinterest.es/pablersrl/" class="fa fa-lg fa-pinterest"></a></li>
            <li><a href="https://www.linkedin.com/in/pabloreinalopez/" class="fa fa-lg fa-linkedin"></a></li>
            {% comment %} <li><a href="#" class="fa fa-lg fa-instagram"></a></li> {% endcomment %}
            {% comment %} <li><a href="#" class="fa fa-lg fa-youtube"></a></li> {% endcomment %}
            </ul>
          </div>

        <p>This page has been created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
