<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
    {% comment %} <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> {% endcomment %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% comment %} <div class="wrapper">
      <header>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

       
        <h2><p><p>{{ site.name | default: site.github.owner_name }}</p></p></h2>
        <p>{{ site.description | default: site.github.project_tagline }}</p> 
        

        {% if site.show_menu %}  {% endcomment %}
        {% comment %} <p><div><h3>
        <ul>
          <li><a href="{{ site.baseurl }} "> Inicio </a></li>
          <li class='active has-sub'><a href='#'>Portfolio</a>
            <ul>
              <li class='has-sub'><a href='#'>Guía ML</a>
                <ul>
                  <li><a href='{{ site.baseurl }}/portfolio.html'>Descripción</a></li>
                  <li><a href='{{ site.baseurl }}/algoritmos-ml.html "'>Algoritmos ML</a></li>
                </ul>
              </li>
              <li><a href='{{ site.baseurl }}/tfm.html'>Trabajo Fin de Master</a>
                </li>
            </ul>
         </li>
          <li><a href="{{ site.baseurl }}/md-guide.html "> Markdown guide </a></li>
          <li><a href="{{ site.baseurl }}/another-page.html "> Another page </a></li>
        </ul>
        </div></h3>
        </p> {% endcomment %}
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey w3-content" style="max-width:1600px">
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    {% comment %} <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br> {% endcomment %}
    <h4><b>PORTFOLIO</b></h4>
    <p class="w3-text-grey">Pablo Reina</p>
  </div>
  <div class="w3-bar-block">
    <a href='{{ site.baseurl }}/portfolio.html' onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a> 
    <a href='#' onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>GUIA ML</a> 
    <a href='{{ site.baseurl }}/tfm.html' onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>TFM</a>
    <a href='{{ site.baseurl }}/md-guide.html' onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>MD GUIDE</a> 
    <a href='{{ site.baseurl }}/another-page.html' onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>ANOTHER</a>
  </div>
</nav>
  
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        {% endif %}
        


      </header>
      <section>

      {{ content }}
      
      </section>
      <footer>
          

        <h2>Contacto</h2>
          <div class="socialbtns">
            <ul>
            {% comment %} <li><a href="#" class="fa fa-lg fa-facebook"></a></li> {% endcomment %}
            <li><a href="https://twitter.com/PABL0REINA" class="fa fa-lg fa-twitter"></a></li>
            <li><a href="https://github.com/pablers/" class="fa fa-lg fa-github"></a></li>
            <li><a href="https://www.pinterest.es/pablersrl/" class="fa fa-lg fa-pinterest"></a></li>
            <li><a href="https://www.linkedin.com/in/pabloreinalopez/" class="fa fa-lg fa-linkedin"></a></li>
            {% comment %} <li><a href="#" class="fa fa-lg fa-instagram"></a></li> {% endcomment %}
            {% comment %} <li><a href="#" class="fa fa-lg fa-youtube"></a></li> {% endcomment %}
            </ul>
          </div>

        {% comment %} <p>This page has been created by <a href="{{ site.github.owner_url }}">{{ PRL }}</a></p> {% endcomment %}
      </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
